*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
header{
    margin-bottom: 30px;
}
.link{
    margin-right: 20px;
}
.link:last-child{
    margin: 0px;
}
.active{
    color: red;
}